@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(0 0 0)) rgb(63 60 60)
}

input {
  color: #3e3232 !important;
  border-radius: 4px;
  margin: 2px 0;
  padding: 4px 10px;
  background-color: #fff;
  border: 1px solid #3e3232;
}

input:focus-visible {
  outline: none;
}

input.error {
  background-color: #fff1f1;
  border: 1px solid #ef4444;
}

.navbar-menu-cstm {
  background: #fff;
}


@media (max-width: 768px) {
  .navbar-menu-cstm {
    --navbar-height: 12rem !important;
    margin: 0 12px;
    width: 94.2%;
  }
}